force-app/main/default/flows/Account_Contact_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Address_Field</name>
        <label>Assign Address Field</label>
        <locationX>685</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Contacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Var</name>
        <label>Assign to Var</label>
        <locationX>687</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account_Contact_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Contact_Update</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>494</locationX>
        <locationY>210</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Address_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>311</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>492</locationX>
        <locationY>378</locationY>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>216</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
