force-app/main/default/flows/account_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_to_differentiate</name>
        <label>assign to differentiate</label>
        <locationX>232</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Record.Difference__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Number_to_Diferintiate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Difference__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Number_to_Diferintiate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_record</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NewDifference</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_to_Diferintiate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>account change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>account change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_record</name>
        <label>Update the record</label>
        <locationX>516</locationX>
        <locationY>305</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>assign_to_differentiate</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
