force-app/main/default/flows/CreateExpenceUpdateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_the_created_sum</name>
        <label>Assign the created sum</label>
        <locationX>351</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.Sum_of_All_expences__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Total_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_project</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CreateExpenceUpdateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateExpenceUpdateProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>197</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_created_sum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arte_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sum_of_All_expences__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_project</name>
        <label>update the project</label>
        <locationX>480</locationX>
        <locationY>219</locationY>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>Expence__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
