force-app/main/default/flows/DeleteExpenceUpdateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_the_loss</name>
        <label>Assign the loss</label>
        <locationX>414</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Get_the_projects.Sum_of_All_expences__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Total_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Project</targetReference>
        </connector>
    </assignments>
    <interviewLabel>DeleteExpenceUpdateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteExpenceUpdateProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_projects</name>
        <label>Get the projects</label>
        <locationX>171</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_loss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arte_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sum_of_All_expences__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Project</name>
        <label>update Project</label>
        <locationX>597</locationX>
        <locationY>234</locationY>
        <inputReference>Get_the_projects</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_the_projects</targetReference>
        </connector>
        <object>Expence__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
