force-app/main/default/flows/Delete_Hour_Update_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Project_on_Delete</name>
        <label>Update Project on Delete</label>
        <locationX>624</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.Number_of_All_Submitted_Hours__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Number_Of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_on_deltee</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Delete Hour Update Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Hour Update Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>368</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project_on_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arte_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_All_Submitted_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_on_deltee</name>
        <label>update on deltee</label>
        <locationX>806</locationX>
        <locationY>253</locationY>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>245</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>Hours__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
