force-app/main/default/flows/New_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>createNewProject</name>
        <choiceText>Create new Project</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>updateProject</name>
        <choiceText>Update</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_Get_Project_Null</name>
        <label>Is Get_Project Null</label>
        <locationX>655</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Create_New_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Projects.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_or_Create_New</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create_New</name>
        <label>Update or Create New</label>
        <locationX>615</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Create_New_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>In_case_of_duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>updateProject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Project</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <interviewLabel>New Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>911</locationX>
        <locationY>264</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>Opportunity_Name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_End_Date__c</field>
            <value>
                <elementReference>Project_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Start_Date__c</field>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>417</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Project_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Name.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Project</name>
        <label>Update Current Project</label>
        <locationX>323</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Projects.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Projects.Opportunity_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_End_Date__c</field>
            <value>
                <elementReference>Project_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Start_Date__c</field>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project1__c</object>
    </recordUpdates>
    <screens>
        <name>newProject</name>
        <label>New Project</label>
        <locationX>255</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
        <fields>
            <name>Project_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Project End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project1__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Opportunity_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Project1__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>In_case_of_duplicate</name>
            <choiceReferences>updateProject</choiceReferences>
            <choiceReferences>createNewProject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In case of duplicate:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>128</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>newProject</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
