force-app/main/default/flows/Scheduled_spam_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Cases_to_Delete</name>
        <label>Assign Cases to Delete</label>
        <locationX>726</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>CasesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Scheduled_spam_Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled_spam_Deletion</label>
    <loops>
        <name>Loop_through_cases</name>
        <label>Loop through cases</label>
        <locationX>548</locationX>
        <locationY>294</locationY>
        <collectionReference>Get_The_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cases_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_those_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_those_cases</name>
        <label>Delete those cases</label>
        <locationX>547</locationX>
        <locationY>457</locationY>
        <inputReference>CasesToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_The_Case</name>
        <label>Get The Case</label>
        <locationX>401</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>271</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_The_Case</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-10</startDate>
            <startTime>09:23:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CasesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
