force-app/main/default/flows/UpdateExpenceUpdateProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_the_difference</name>
        <label>Assign the difference</label>
        <locationX>318</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Get_The_Project.Sum_of_All_expences__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Total_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_The_Project.Sum_of_All_expences__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Total_Spent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UpdateExpenceUpdateProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateExpenceUpdateProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_The_Project</name>
        <label>Get The Project</label>
        <locationX>150</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_difference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arte_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sum_of_All_expences__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Record</name>
        <label>Update the Record</label>
        <locationX>574</locationX>
        <locationY>248</locationY>
        <inputReference>Get_The_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_The_Project</targetReference>
        </connector>
        <object>Expence__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
