force-app/main/default/flows/Updated_Hour_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_changed_value</name>
        <label>Assign changed value</label>
        <locationX>560</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>Get_Project.Number_of_All_Submitted_Hours__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Number_Of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Project.Number_of_All_Submitted_Hours__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Number_Of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Updated Hour Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated Hour Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>386</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_changed_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Arte_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_All_Submitted_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_record</name>
        <label>Update the record</label>
        <locationX>667</locationX>
        <locationY>356</locationY>
        <inputReference>Get_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>263</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>Hours__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
